@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color1: #0C0C0C;
    --color2: #481E14;
    --color3: #9B3922;
    --color4: #F2613F;
    --color5: #faf0ee;
    --color6: black;
    --color7: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color5);
}

.nav-bar{
    background-color: var(--color1);
    color: var(--color4);
    height: 10vh;
}

.nav-links:hover{
    transform: scale(1.2);
}

.foot{
    height: 10vh;
}

.foot span{
    color: var(--color1);
    border-color: var(--color3);
}